body{
  color: white;
  background: rgb(241,231,228);
background: radial-gradient(circle, rgba(241,231,228,1) 0%, rgba(47,50,60,1) 0%, rgba(4,7,20,1) 100%);
}
nav{
  background-color: #040714;
  padding-left: 25px;
  padding-right: 25px;
}
.cbtn{
  border-top:solid white 1px;
  border-bottom:solid white 1px;
  border-radius: 2px;
  padding: 8px;
  background-color: #010205;
  color: white;
  width: 80px;
}
.sliderb{
  box-shadow: 5px 5px 8px 2px #010205;
  border-bottom: #454647 solid 3px ;
  margin-left: 40px;
  margin-right: 40px;
}
.Hcard{
  /* margin: 30px; */
  text-align: center;
  display: block;
   margin-left: 30px; 
   margin-right: 30px; 
}
.h-card{
  /* padding-top: 60px;
  padding-bottom: 60px; */
}
.card{
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 2px #010205;
  border: #454647 solid 3px ;
  margin: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.card:hover{
  top: -5px;
  transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}
.card-body{
  padding: 0px;
}
p{
  color: white;
  font-weight: bold;
  text-align: left;
}
.Middle{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(8,12,27,1) 0%, rgba(4,7,20,1) 89%, rgba(4,7,20,1) 97%);
  padding-top: 10px;
}
.Middlecard{
  margin-left: 30px;
  margin-right: 30px;
}
.lpage{
  background-image: url("../src//Assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}
.get{
  width: 300px;
}
.img-fluid{
  margin: 30px;
}
.btn-primary{
  width: 100%;
}
.landing-page{
  margin-left: 400px;
  text-align: center;
  margin-right: 400px;
}
@media only screen and (max-width: 600px) {
  .landing-page{
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .landing-page{
    margin-left: 30px;
    margin-right: 30px;
  }
}
